@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h3><b>Enter Your Details:</b></h3>
@using (Html.BeginForm("Submit", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td>Enter Name: </td>
            <td>@Html.TextBox("Name")</td>
        </tr>
        <tr>
            <td>Enter Country: </td>
            <td>@Html.TextBox("Country")</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit"></td>
        </tr>
    </table>
}
<h4 style="color:purple">
    Name: @ViewBag.Name<br />
    Country: @ViewBag.Country<br />
</h4>