@{
    ViewData["Title"] = "List of Users";
    var user = ViewData.Model;
}
<h1>@ViewData["Title"]</h1>


@{
    int cnt = 1;
    foreach(UserData item in user){
        //<p>@item.Name @item.Country</p>
        <button id=@cnt value=@item.Country onClick=GFG_click(this.value)>@item.Name</button>
        cnt = cnt + 1;
    }
    
}
@section scripts{
    <script>
        //alert("Hi Privacy");
        function GFG_click(clicked){
            alert(clicked);
        }
    </script>
}


